$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


// VARS
$blue: #337ab7;
$gray: #EAEAEA;
$mobile-break: 420px;
$small-tablet-break: 770px;
$tablet-break: 960px;
$desktop-break: 1200px;

@import "breakpoint";
@import "components/*";


body {
  width: 100%;
  height: 100%;
  font-family: 'Lato';
}

a {
    color: $blue;
    text-decoration: none;
}

h1{
  font-size: 2rem;
}

label{
  margin: 0;
}

section{

}

.content{
}

.container{
	margin: 0 auto;
  // max-width: 400px;

  @include breakpoint($small-tablet-break) {
      max-width: inherit;
  }
  
}

.border{
  border: 1px solid #B4B4B4;
  border-radius: 4px;
}

.sim-title{

  padding: 1rem 0;
  display: none;

   @include breakpoint($small-tablet-break) {
       display: block;
    }
}

.loading{
	position: absolute;
	top: 25%;
	left: 46.5%;
	padding: .5rem 1rem;
	background-color: $gray;
	border-radius: 4px;
	display: none;

  @include breakpoint($small-tablet-break) {
     top: 35%;
  }

  .glyphicon{
    margin-right: 1rem;
  }
}

.icon{
  padding: 0;
  padding-top: 5px;
  margin-left: -1.5rem;
}


.divider{

  @include breakpoint($small-tablet-break) {
    border-bottom: 1px solid #b6b5b7;
    margin: 0 0 1rem 0;
  }

}

$light-width: 20px;


.light{
  position: relative;
  height: 300px;

  @include breakpoint($small-tablet-break) {
     height: 150px;
  }

}
.light-img{
  position: absolute;
  left: 0; 
  z-index: 10;
  width: $light-width;
}

.lightBg-img{
  position: absolute;
  left: 0;
  z-index: 9;
  width: $light-width;
}
.light-grid{
  position: absolute;
  left: 0;
  z-index: 11;
  width: $light-width;
}

.light-breadboard{
  position: absolute;
  left: 0;
  top: 8px;
}

.center-light{
  position: relative;
  width: 150px;
  // margin: auto;
  margin-left: 30px;
  margin-top: 15px;

  @include breakpoint($small-tablet-break) {
       // margin-top: 50px;
  }
}


.icon-square{
  img{
    background: url(../images/icon-square-ns.svg);
  }
  &.selected{
    img{
      background: url(../images/icon-square.svg);
    }
  }
}
.icon-triangle{
  img{
    background: url(../images/icon-triangle-ns.svg);
  }
  &.selected{
    img{
      background: url(../images/icon-triangle.svg);
    }
  }
}
.icon-sine{
  img{
    background: url(../images/icon-sine-ns.svg);
  }
  &.selected{
    img{
      background: url(../images/icon-sine.svg);
    }
  }
}






