
// BOOTSTRAP

.navbar-nav{
  margin: 0 auto !important;
  margin-top: 1rem !important;
  float: none !important;
  width: 250px !important;
  // background-color: #B4B4B4;
  border: 1px $gray solid;

  .caret {
      float: right !important;
      margin-top: 8px !important;
  }

  li{

    a {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
  }

  .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
      padding-left: 15px !important;
  }

}

.dropdown{
  width: 100% !important;
  float: none !important;
}

.dropdown-menu{

  padding: 0;

  .divider {
    margin: 0;
  }
}

.dropdown-open {
  width: 100% !important;
}

.no-gutter{
  padding-right:0;
  padding-left:0;

  > .row > [class*='col-'] {
    padding-right:0;
    padding-left:0;
  } 
}

.glyphicon{

  &.glyphicon-info-sign{
    font-size: 3rem;
    color: $blue;
  }
}
