.clickable{
    cursor: pointer;
}

.btn{
    &.selected{
        background-color: $blue;
        color: white;
    }
}

.btn-group{
    width: 100%;

    &.btn-group-radio{

        .btn-group-item:first-child{
            button{
                border-right: none;
            }
        }
        .btn-group-item:last-child{
            button{
                border-left: none;
            }
        }
        
    }

    label{
        width: 50%;
    }
}

.btn-info {
    position: absolute;
    color: $blue;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    font-size: 2rem;
    margin-top: .5rem;
    padding: 0;
    margin-left: 1rem;

    @include breakpoint($small-tablet-break) {
      margin-left: 0;
    }
}
// .btn-info:hover,
// .btn-info:focus,
// .btn-info:active{
// 	background-color: transparent !important;
// 	color: $blue;
// }

button:focus {outline:0 !important}

.btn-responsive {

    padding: 10px 16px;
    font-size: 16px;
    
    @include breakpoint($small-tablet-break) {
        padding: 8px 14px;
        font-size: 14px;
    }
}


#btns-charge{

    @include breakpoint($small-tablet-break) {
        max-width: 275px;
    }
}

.info{
    position: absolute;
    height: 20px;
    width: 30px;
    top: 1rem;
    right: 2rem;
    z-index: 99;
}

.btn-drop{
   // margin-left: 1.5rem;
   margin-top: -3px;
}

.dropdown-toggle{
    width: 110px;
    text-align: left;
    // padding-left: 1rem;
    margin-top: -1px;

    .caret{
        text-align: right;
        float: right;
         margin-top: 8px;
         margin-right: .5rem;
    }
}

.dropdown-toggle  {
    width: 100%;

    li{
        a{
          padding-left: .5rem;
          font-size: 38px;
        }
    }
  
}

.dropdown-menu{

    width: 100%;

    li{ 
        a{
          padding-left: 1.5rem;
          font-size: 1.5rem;
        }
    }

}

.btn-icon{
    margin-right: .5rem;
    height: 20px;
}





