
// .chart{
// 	// margin: 0 1rem;
//     margin-left: -2rem;

//     svg{
//     	margin-left: -.5rem;
//     }

//     @include breakpoint($small-tablet-break) {
//       margin-top: -1.3rem;
//     }


// }

// .gridart{
//   padding: .25rem 0 0 0;
//   margin-bottom: .5rem;
//   background: url(../images/grid.svg);

//   .charging-txt{
//     margin-top: -.5rem;
//   }
// }

// .path{
// 	position: absolute;
// 	top: 10px;
// }


// .highcharts-tooltip-box {
//   fill: black;
//   fill-opacity: 0.2;
//   stroke-width: 0;
// }

// .highcharts-tooltip text {
//   fill: white !important;
//   text-shadow: 0 0 3px black;
// }
