

// HELPERS

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.left{
  float: left;
}

.right{
  float: right;
  text-align: right;
}

.center{
  text-align: center;
  margin: 0 auto;
}

.clear{
  clear:both;
}

.spacer{
  height: 1rem;
}

.half-spacer{
  height: .5rem;
}

.fixed{
  background-color: white;
  position: fixed;
  width: inherit;
  padding: 1rem;
}

.mobile-break{
  clear: both;
    @include breakpoint($mobile-break) {
      clear: none;
    }
}

.no-horiz-margin{
  margin-left: 0;
  margin-right: 0;
}

.no-padding{
  padding: 0;
}