

#input{
	margin-left: -1rem;

	@include breakpoint($small-tablet-break) {
		max-width: 300px;	;
	    margin-top: 2.5rem;
	}
}

.inputText{
	text-align: center;
	margin: 0 0 1rem 0;
	font-weight: bold;
}

.input-group{
	// background-color: red;
	margin-bottom: 2px;
}

.form-control{
  padding: 6px;
  box-shadow: none;
}

.text-input__label{
	font-size: 2rem;
	line-height: 2.5;
	// font-weight: bold;
	text-align: right;
	margin-left: 0;

	@include breakpoint($small-tablet-break) {
		font-size: 14px;
	}
}

.bootstrap-touchspin .bootstrap-touchspin-postfix {
    width: 36px;
    padding: 0;
}

.input-group-lg{

	@include breakpoint($small-tablet-break) {

		.input-group-btn{

			button.btn{
 				height: 34px;
			    padding: 6px 12px;
			    font-size: 14px;
			    line-height: 1.4;
				
			}
		}
		.input-group-addon {
			height: 34px;
		    font-size: 14px;
		    line-height: 1;
		}
      
	    input.form-control{
			font-size: 14px;
    		line-height: 1.4;
			height: 34px;
		}

    }
	
}

#toggle{

	@include breakpoint($small-tablet-break) {
			// margin-top: 4rem;
	}

}

.select{
	width: 96% ;

	@include breakpoint($small-tablet-break) {
       width: 95%;
    }
}

