
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin-top: 1.1rem;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: $blue;
    cursor: pointer;
    margin-bottom: 1px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $blue;
    cursor: pointer;
    margin-bottom: 1px;
}

.slider:before {
   background-color: rgba(white,0) !important;
}


.slide-label-holder{
    padding: .65rem .5rem 1rem;
    font-size: 1.2rem;
}