
$tooltip-color: #2E2E2E;

.tooltip{
     


	p{
		font-size: 1.2rem;
	    line-height: 1.3;
	}

	h3{
		font-size: 1.5rem;
		margin: 0 0 .5rem 0;
	}

	.tooltip-inner{
		padding-top: 1rem;
	    font-family: 'Lato', sans-serif;
	    text-align: left;
	}

	
}

.tooltip.top .tooltip-arrow{
    border-top:5px solid $tooltip-color; //
}
.tooltip.left .tooltip-arrow{
    border-left:5px solid $tooltip-color; //
}
.tooltip.bottom .tooltip-arrow{
    border-bottom:5px solid $tooltip-color; //
}
.tooltip.right .tooltip-arrow{
    border-right:5px solid $tooltip-color; //
}
.tooltip-inner{
    background-color:$tooltip-color; //;
}

.tooltip.in{
    opacity:.95;
    filter:alpha(opacity=95)
}
